<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<title>Hangman game</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/home.js}"></script>
</head>

<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

		<a class="navbar-brand" href="/game/home"> <img
			th:src="@{/images/logo.jpg}" class="logo"
			style="border-radius: 50%; width: 50px;">
		</a>

		<!-- Links -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link"
				href="/game/achievement">Achievement</a></li>
		</ul>

		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" th:utext="${wellcome}"></a></li>
			<li class="nav-item"><a class="nav-link" href="/logout"> <i
					class="fas fa-sign-out-alt"></i>&nbsp;Exit
			</a></li>
		</ul>
	</nav>
	<div>
		<h2 class="text-center top-mess">
			&nbsp;<span id="message-box" class="text-success">Welcome</span>
		</h2>
	</div>
	<div class="container" id="game_home">
		<div class="row">
			<div class="col-md-6">
				<h3>
					All Games: <span class="online-count">0</span> Rooms
				</h3>
				<div class="list-group" id="all-game"></div>
			</div>
			<div class="col-md-6">
				<div>
					<h3 class="float-left">My Rooms</h3>
					<div class="float-right">
						<a href='#' class="btn btn-primary" data-toggle="modal"
							data-target="#myModal">Create Rooms</a>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div class="list-group" id="my-game"></div>
			</div>
		</div>
	</div>
	<div class="invisible" id="userId" th:utext="${userId}">0</div>
	<div class="invisible" id="userName" th:utext="${userName}">0</div>

	<!-- The Modal -->
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Create new rooms</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<form action="#">
						<div class="form-group">
							<label for="pwd">Enter room's name:</label> <input type="name"
								class="form-control" id="nameRoom">
						</div>
					</form>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button id="btn_create_room" type="button" class="btn btn-danger" data-dismiss="modal">Create</button>
				</div>

			</div>
		</div>
	</div>
	<script>
		lastRoomID = 0; //fill it
		$(document).ready(function() {
			//heartbeat();
			//init long polling handle
			checkStatus();


			$('#btn_create_room').on('click', function() {
				createRoom($("#nameRoom").val());
			});
		});
	</script>

</body>
</html>